# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
    pull_request:

permissions:
    contents: read

jobs:
    build:
        runs-on: ubuntu-latest

        defaults:
            run:
                working-directory: ./DevOps/fastapi-app

        steps:
            - uses: actions/checkout@v4
            - name: Set up Python 3.12
              uses: actions/setup-python@v3
              with:
                  python-version: "3.12"
            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install flake8 pytest
                  pipx install poetry
                  poetry install
            - name: Lint with black and ruff
              run: |
                  poetry run black --check .
                  poetry run ruff check .
            - name: Test with pytest
              run: |
                  poetry run pytest
            - name: Build
              run: |
                  poetry build
            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: "lts/*"
            - name: Release
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: npx semantic-release