# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: CI / CD

on:
    pull_request:

permissions:
    contents: read

jobs:
    build:
        runs-on: ubuntu-latest

        defaults:
            run:
                working-directory: ./DevOps/fastapi-app

        steps:
            - uses: actions/checkout@v4
            - name: Set up Python 3.12
              uses: actions/setup-python@v3
              with:
                  python-version: "3.12"
            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install flake8 pytest
                  pipx install poetry
                  poetry install
            - name: Lint with black and ruff
              run: |
                  poetry run black --check .
                  poetry run ruff check .
            - name: Test with pytest
              run: |
                  poetry run pytest
            - name: Build
              run: |
                  poetry build

    tag:
        runs-on: ubuntu-latest
        if: ${{ github.event.pull_request.base.ref == 'master' }}
        defaults:
            run:
                working-directory: ./DevOps/fastapi-app

        steps:
            - name: Get Next Version
              id: semver
              uses: ietf-tools/semver-action@v1
              with:
                  token: ${{ github.token }}
                  branch: master
            - name: Create tag
              uses: actions/github-script@v8
              with:
                  script: |
                      github.rest.git.createRef({
                        owner: context.repo.owner,
                        repo: context.repo.repo,
                        ref: "refs/tags/${{ steps.semver.outputs.next }}",
                        sha: context.sha
                      })
