name: Show day every hour ??
on:
    workflow_dispatch:
    schedule:
        - cron: "0 * * * *"

jobs:
    show-time:
        runs-on: ubuntu-latest
        steps:
            - name: Show time
              run: |
                  date '+%F'
